* {
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color:rgb(255, 255, 255);
    color: #ffffff;
}

.heading{
    display: flex;
    background-color: rgb(0, 0, 0);
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    justify-content: space-between;
}

.sub-heading{
    display: flex;
    background-color: #2563EB;
    margin: 0;
    padding: 0.5rem 1rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.sub-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    font-size: 25px;
}



.projects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    background-color: #14B8A6;
    padding: 2rem;
}
    
.project-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.project-card img{
    width: 325px;
    height: 225px;
    border-radius: 8px;
}

h2{
    font-size: 50px;
    margin: 0px;
}

.intro{
    max-width: 375px;
}